// @font-face {
//   font-family: 'NeutraText-Bold';
//   src: url('../fonts/NeutraText-Bold.eot');
//   src: url('../fonts/NeutraText-Bold.eot') format('embedded-opentype'),
//   url('../fonts/NeutraText-Bold.woff') format('woff'),
//   url('../fonts/NeutraText-Bold.ttf') format('truetype'),
//   url('../fonts/NeutraText-Bold.svg#NeutraText-Bold') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'NeutraText-Book';
//   src: url('../fonts/NeutraText-Book.eot');
//   src: url('../fonts/NeutraText-Book.eot') format('embedded-opentype'),
//   url('../fonts/NeutraText-Book.woff') format('woff'),
//   url('../fonts/NeutraText-Book.ttf') format('truetype'),
//   url('../fonts/NeutraText-Book.svg#NeutraText-Book') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Neutraface2-Bold';
//   src: url('../fonts/NeutraText-Book.eot');
//   src: url('../fonts/NeutraText-Book.eot') format('embedded-opentype'),
//   url('../fonts/NeutraText-Book.woff') format('woff'),
//   url('../fonts/NeutraText-Book.ttf') format('truetype'),
//   url('../fonts/NeutraText-Book.svg#NeutraText-Book') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

// Preloader settings
@import '/bower_components/mnv-shared/css/components/preloader/default';
// Changing default color
$preloader-overlay-color: #000;
@import '/bower_components/mnv-shared/css/components/preloader/preloader-bars';
.mnv-preloader-overlay {
  opacity: 0.5;
}
/// below are the new fonts we need to check the license / usage of these!!!!
@font-face {
  font-family: Neutra2-Medium;
  src: url('../fonts/Neutraface2Display-Medium.otf') format('opentype');
}

@font-face {
  font-family: Neutra2-Bold;
  src: url('../fonts/Neutraface2Display-Bold.otf') format('opentype');
}

@font-face {
  font-family: Neutra2-Titling;
  src: url('../fonts/Neutraface2Display-Titling.ttf') format('opentype');
}



@font-face {
  font-family: Neutra2-Light;
  src: url('../fonts/Neutraface2Display-Light.otf') format('opentype');
}


// TODO remove styles not releated to the widget ad wrap everything into the widget NS

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased !important;
}


.mnv-ec-storytilesreveal {
  height: 100%;
  font-family: Neutra2-Medium;
  * {
    box-sizing: border-box;
  }
  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

.main-container {
  position: relative;
  margin: 0 auto;
  height: 100%;
}

.depth-top {
  z-index: 1000;
}

.depth-bottom {
  z-index: 1;
}

.active {
  visibility: visible !important;
  overflow-y: scroll !important;
}

.inactive,
.no-js .article .article-reveal-container {
  visibility: hidden !important;
  overflow: hidden !important;
}

.article-reveal-container {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translate(0%, 0%);
  perspective: 4000px;
  overflow-y: scroll;
  overflow-x: hidden;
}

ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.article-container {
  max-width: 1220px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow-y: scroll;
}

.artical-reveal-tile {
  cursor: pointer;
  position: relative;
  color: #fff;
  font-size: 20px;
  text-align: center;
  flex : 1;
  background-color: rgba(0, 0 , 0, 1);
  border-bottom: 4px solid  #000;
  opacity: 1;
  overflow: hidden;

  .section, .title, .rubrik {
    pointer-events: none;
    z-index: 2;
    font-size: 20px;
    color:  #25E3D0;
    position: absolute;
    text-transform: uppercase;
    top: 20px;
    left: 20px;
    text-shadow:  2px 2px 3px rgba(0, 0, 0, 0.5);
    text-align: left;
    @media (max-width: 480px) {
      font-size: 20px
      }
  }
  .title {
    top: 45px;
    font-size: 36px;
    font-family: Neutra2-Titling;
    color: #fff;
    @media (max-width: 480px) {
      top: 40px;
      font-size: 30px
      }
  }
  .rubrik {
    font-size: 20px;
    top: 90px;
    text-transform: initial;
    color: #fff;
  }
  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
  }
}

.image:hover {
  transform:scale(1.2,1.2);
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

// Cover
.article-reveal-container ul li:nth-child(1){
  @include aspect-ratio(16, 9);
  min-width: 100%;
  .rubrik,
  .section {
    display: block;
  }
}

.tile-full {
  min-width: 100%;
  @include aspect-ratio(4, 1);

  .image-grad {
    pointer-events: none;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60%;
    height: 100%;
    opacity: 0.8;
  }
}

.tile-1 {
  min-width: 25%;
  border-right: 6px solid #000;
  @include aspect-ratio(4, 3);
  .title {
    font-size: 20px;
    @media (max-width: 480px) {
      top: 16px;
      font-size: 16px
    }
  }
  .section, .rubrik {
    display: none;
  }
  $firstRedTile: 4;
  $firstGreenTile: 10;
  // TODO This part need to be reviewed 
  &:nth-of-type(#{$firstRedTile}) .image-tint,
  &:nth-of-type(#{$firstRedTile+1}) .image-tint,
  &:nth-of-type(#{$firstRedTile+2}) .image-tint,
  &:nth-of-type(#{$firstRedTile+3}) .image-tint,
  &:nth-of-type(#{$firstGreenTile}) .image-tint,
  &:nth-of-type(#{$firstGreenTile+1}) .image-tint,
  &:nth-of-type(#{$firstGreenTile+2}) .image-tint,
  &:nth-of-type(#{$firstGreenTile+3}) .image-tint {
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 0, 0, 0.3);
  }
  &:nth-of-type(#{$firstGreenTile}) .image-tint,
  &:nth-of-type(#{$firstGreenTile+1}) .image-tint,
  &:nth-of-type(#{$firstGreenTile+2}) .image-tint,
  &:nth-of-type(#{$firstGreenTile+3}) .image-tint  {
    background-color: rgba(40, 130, 30, 0.3);
  }
}

.tile-1:nth-child(7){
  border-right: 0;
}

.tile-1:nth-child(13){
  border-right: 0;
}

// Animation
// Start on change class applied to the container
$transition-duration: 0.7s;
$transition-delay: 0.2s;
.artical-reveal-tile {
  // TODO add other prefix
  -webkit-transition-property: all;
  -webkit-transition-duration: $transition-duration;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-delay: initial;
}

$tiles: 15;
// Create delay for tiles
@for $i from 0 to $tiles {
  .article-reveal-container ul li:nth-child(#{$i}) {
    -webkit-transition-delay:  $transition-delay * $i;
  }
}

.landing {
  .artical-reveal-tile.tile-full,
  .artical-reveal-tile.cover {
    transform: translate(0%, 0%)
  }
  .artical-reveal-tile.tile-1 {
    transform: none;
  }
}

.article{
  .artical-reveal-tile.tile-full,
  .artical-reveal-tile.cover {
    &:nth-child(odd){
      transform: translate(-100%, 0%)
    }
    &:nth-child(even){
      transform: translate(100%, 0%)
    }
  }
  .artical-reveal-tile.tile-1 {
    &:nth-child(odd){
      transform: translate(-400%, 0%)
    }
    &:nth-child(even){
      transform: translate(400%, 0%)
    }
  }
  .article-reveal-container {
    pointer-events: none;
  }
}

button {
  width: 200px;
  height: 100px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:  1000;
  background: LightSeaGreen;
  border: none;
  color: #fff;
  font-size: 22px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
}

.close-btn {
  .landing & {
    visibility: hidden;
    display: none;
  }
  display: block;
  position: absolute;
  right: 20px;
  top: 50px;
  color: rgba(0, 0, 0, 0.6);
  z-index: 9999999999999;
  border: 2px solid rgba(0, 0, 0, 0.6);
  font-size: 30px;
  /*background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20enco…2C1.1l6.5-6.5l6.5%2C6.5l1-1.1l-6.5-6.5%20L27.7%2C14z%22%2F%3E%3C%2Fsvg%3E');
  /* background-repeat: no-repeat; */
  width: 40px;
  height: 40px;
  margin-top: -20px;
  text-align: center;
}

.close-btn:hover {
  cursor: pointer;
  background-color: #fff;
}
