<h1>Ready to Rock n' Roll!</h1>
<h2>This text is in "/partials/widgetbody"<h2>

<div data-mnv="ecStoryTilesReveal" class="mnv-widget mnv-ec-storytilesreveal" id="ec-storytilesreveal-0">Instance 0 of your widget</div>