<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Test init.min.js</title>
    {{> widgetexternal}}
    <script src="dist/js/init.min.js"></script>
</head>
<body>
    {{{body}}}
    {{> footer}}
</body>
</html>